[neopixel LED]
pin: PA8
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 13
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware (using a string
#   containing the letters R, G, B, W with W optional). Alternatively,
#   this may be a comma separated list of pixel orders - one for each
#   LED in the chain. The default is GRB.
initial_RED: 0.5
initial_GREEN: 0
initial_BLUE: 0.5
#initial_WHITE: 0.0
#   See the "led" section for information on these parameters.

[gcode_macro LED_OFF]
gcode:
    SET_LED LED=LED RED=0 GREEN=0 BLUE=0

[gcode_macro LED_GREEN]
gcode:
    SET_LED LED=LED RED=0 GREEN=1.0 BLUE=0

[gcode_macro LED_BLUE]
gcode:
    SET_LED LED=LED RED=0 GREEN=0 BLUE=1

[gcode_macro LED_RED]
gcode:
    SET_LED LED=LED RED=1 GREEN=0 BLUE=0

[gcode_macro LED_PURPLE]
gcode:
    SET_LED LED=LED RED=1 GREEN=0 BLUE=1

[gcode_macro LED_WHITE]
gcode:
    SET_LED LED=LED RED=1 GREEN=1 BLUE=1

[gcode_macro EXTRUDER_TEMP]
gcode:
    NEOPIXEL_DISPLAY LED=LED TYPE=extruder_temp MODE=glow

[gcode_macro BED_TEMP]
gcode:
    NEOPIXEL_DISPLAY LED=LED TYPE=bed_temp MODE=glow

[gcode_macro PRINT_PROGRESS]
gcode:
    NEOPIXEL_DISPLAY LED=LED TYPE=print_percent MODE=progress

[gcode_macro PRINT_SPEED]
gcode:
    NEOPIXEL_DISPLAY LED=LED TYPE=printer_speed MODE=progress

[gcode_macro CLEAR]
gcode:
    NEOPIXEL_DISPLAY LED=LED TYPE=clear

[gcode_macro LED_PRINT]
gcode:
    SET_LED LED=LED RED=0.5 GREEN=0.5 BLUE=0.5

[delayed_gcode Welcome_0]
    initial_duration: 0
    gcode:
        SET_LED LED=LED RED=0.0 GREEN=0.0 BLUE=0.0

[delayed_gcode Welcome_1]
    initial_duration: 0.5
    gcode:
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=3 TRANSMIT=1


[delayed_gcode Welcome_2]
    initial_duration: 1
    gcode:
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=4 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=5 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=6 TRANSMIT=1

[delayed_gcode Welcome_3]
    initial_duration: 1.5
    gcode:
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=7 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=8 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=9 TRANSMIT=1


[delayed_gcode Welcome_4]
    initial_duration: 2
    gcode:
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=10 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=11 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=12 TRANSMIT=0
        SET_LED LED=LED RED=1 GREEN=1 BLUE=1 INDEX=13 TRANSMIT=1

[delayed_gcode Welcome_5]
    initial_duration: 3
    gcode:
        SET_LED LED=LED RED=0.5 GREEN=0 BLUE=0.5 TRANSMIT=1