#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 
#
#                         Rook 2020 MK1 CONFIG
#
#//// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ 
#\\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// \\\\ //// 


###====##====##====##====##====##====##====##====##====##====##====##====###
#####    All lines that needs a double check are marked with `#!#`     #####
#####          Use the search function to find them easily             #####
###====##====##====##====##====##====##====##====##====##====##====##====###

# CONFIG BY KANROG87
#
# This config is based on the Fabreeko-Kit with 300mm Z-extrusions and rods, and using my Sentinel toolhead with the probe mod.
#
# This file contains common pin mappings for the BIGTREETECH SKR mini E3 v3.0

# See docs/Config_Reference.md for a description of parameters.

#[include adxl.cfg] ## For those who use an accelerometer to measure resonances for input shaper, make sure your file is set up for your device.
[include mainsail.cfg]
[include macros_1.cfg] ## Go trough these and check that they match your setup #!#
[include macros_2.cfg] ## Only one line to change here.
[include macros_torture.cfg] ## Torture macros for troubleshooting
[include macros_homing.cfg] ## Macros to help you get the homing dialed in. #!#

# Accelerometer
#[include accelerometer.cfg]

#====================================================================
# Serial Connection ## Make sure this matches the output from the command "ls /dev/serial/by-id/*" on your klipper machine/pi #!#
#====================================================================
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_5C00340007504B5735313920-if00

#====================================================================
# PRINTER LIMIT SETTINGS ## These are set higher than needed, mostly for diagnosing and testing.
#====================================================================
[printer]
kinematics: corexy
max_velocity: 600
max_accel: 50000
max_accel_to_decel: 10000
square_corner_velocity: 5
max_z_velocity: 50
max_z_accel: 2000

#====================================================================
# X STEPPER ## Fabreeko HoneyBadger 40mm Motor ## Right motor
#====================================================================
[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 120
position_max: 120
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
diag_pin: ^PC0    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 120 # 255 is most sensitive value, 0 is least sensitive ## Change only if sensorless homing needs adjusting #!#

#====================================================================
# Y STEPPER ## Fabreeko HoneyBadger 40mm Motor ## Left motor
#====================================================================
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 143 ## change (+/-) to make shure Y0 is at the edge of your bed #!#
position_max: 143 ## match the value in "position_endstop:" #!#
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
diag_pin: ^PC1
driver_SGTHRS: 120 # 255 is most sensitive value, 0 is least sensitive ## Change only if sensorless homing needs adjusting #!#

#====================================================================
# Z STEPPER ## Fabreeko HoneyBadger 40mm Motor
#====================================================================
## Please note that my Z-extrusions and rail is 300mm and im using my ABL-mod for the Sentinel toolhead.
[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 32
rotation_distance: 40
#endstop_pin: !PC15
endstop_pin: probe:z_virtual_endstop ## Change to "PC2" if using a normal endstop #!#
#position_endstop: 220 ## Uncomment if using endstop and set to lowest point where your bed hits the switch, also remove [probe] section. #!#
position_max: 212 ## Change to lowest point your bed can move #!#
position_min: -10
homing_speed: 30
#second_homing_speed: 5
homing_retract_dist: 10
homing_retract_speed: 10
gear_ratio: 4:1 ## Comment out if you are not using geared Z  #!#

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

#====================================================================
# EXTRUDER ## Fabreeko HoneyBadger 20mm Pancake motor and Fabreeko Sherpa kit  ## Change to suit your extruder-setup #!#
#====================================================================
[include hgx-lite.cfg]
#[include sherpa-mini.cfg]

#====================================================================
# BED HEATER ## LDO 100W Voron V0 Bed with FYSETC PEI/Carbon sheet ## Change to suit your bed-setup #!#
#====================================================================
[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

#====================================================================
# FANS
#====================================================================
[heater_fan hotend_fan] ## FAN1
pin: PC6
heater: extruder
heater_temp: 35.0
fan_speed: 0.4

[fan] ## FAN3 (Part-cooling)
pin: PC7

#  Select between auxiliary cooling fan or controller fan on the FAN2 port: #!#
# if using the auxiliary part-cooling fan, make sure you have a fan connected to 24v to cool your controller.

[include fan_controller.cfg]
#[include fan_aux.cfg]

#====================================================================
# AUTOMATIC BED LEVELING  ##  Only if you are using my ABL probe mod for the sentinel #!#
#====================================================================
[probe]
pin: !PC15
x_offset: 0.0
y_offset: -31.23
#z_offset: 0
speed: 5
samples: 1
sample_retract_dist: 2.5
lift_speed: 5
samples_result: average

[bed_mesh]
speed: 60
horizontal_move_z: 4
mesh_min: 5,5
mesh_max: 110,100
probe_count: 3, 3
fade_start: 2.0
fade_end: 8.0
mesh_pps: 2, 2
algorithm: bicubic

#====================================================================
# MANUAL BED LEVELING
#====================================================================
[bed_screws]
screw1: 100,110
screw1_name: front left screw
screw2: 10,110
screw2_name: rear left screw
screw3: 55,5
screw3_name: middle front screw

#====================================================================
# TEMPERATURE SENSORS
#====================================================================
[temperature_sensor MCU_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

#====================================================================
# MISC
#====================================================================
[static_digital_output usb_pullup_enable]
pins: !PA14

[respond]
default_type: echo
default_prefix: echo:

[exclude_object]
[pause_resume]
[input_shaper]
[gcode_arcs]
resolution: 0.2

#====================================================================
# BOARD PINS
#====================================================================
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.966
#*# pid_ki = 1.513
#*# pid_kd = 65.889
#*#
#*# [input_shaper]
#*# shaper_type_x = ei
#*# shaper_freq_x = 110.200
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 105.000
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.005
#*# pid_ki = 0.741
#*# pid_kd = 1606.962
#*#
#*# [probe]
#*# z_offset = 1.175
#*#
#*# [bed_mesh Rook]
#*# version = 1
#*# points =
#*# 	0.028125, 0.076563, 0.050000
#*# 	0.037500, 0.018750, 0.028125
#*# 	0.096875, 0.090625, 0.048438
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 110.0
#*# min_y = 4.9999999999999964
#*# max_y = 99.99999999999999
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.028125, 0.076563, 0.050000
#*# 	0.037500, 0.018750, 0.028125
#*# 	0.096875, 0.090625, 0.048438
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 110.0
#*# min_y = 4.9999999999999964
#*# max_y = 99.99999999999999
